[submodule "Xevle.Math"]
	path = Xevle.Math
	url = git@github.com:Xevle/Xevle.Math.git
[submodule "Documentation"]
	path = Documentation
	url = git@github.com:Xevle/Documentation.git
[submodule "Tests"]
	path = Tests
	url = git@github.com:Xevle/Tests.git
[submodule "Examples"]
	path = Examples
	url = git@github.com:Xevle/Examples.git
